#footer
	%p
		© 2012 Your Majesty Co. All rights reserved
		#rightfooterContainer
			.fb-like{"data-font" => "lucida grande", "data-href" => "http://instagram.your-majesty.com", "data-layout" => "button_count", "data-send" => "false", "data-show-faces" => "false", "data-width" => "50","data-colorscheme" => "dark"}
			=link_to 'Your Majesty', 'http://www.your-majesty.com'
			=link_to 'On Facebook', 'http://www.facebook.com/yourmajestyco'
			=link_to 'On Twitter', 'http://www.twitter.com/yourmajestyco'
			=link_to 'On Vimeo', 'http://www.vimeo.com/yourmajesty'
