.bigImageView
	.bigImageContainer
		%a{:href=>"#",:class=>"ui-arrow",:id=>"arrowLeft"}
		%a{:href=>"#",:class=>"ui-arrow",:id=>"arrowRight"}
	.caption
		%p.captionText
		%p.picdata
			%span.userdate
			%span.location
	.clickbg
	#map_canvas